@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp {
	--rdp-cell-size: 70px;
	--rdp-accent-color: var(--primary);
	--rdp-background-color: var(--background-color);
	/* Switch to dark colors for dark themes */
	--rdp-accent-color-dark: var(--primary-dark);
	--rdp-background-color-dark: var(--background-color-dark);
	/* Outline border for focused elements */
	--rdp-outline: 2px solid var(--rdp-accent-color);
	/* Outline border for focused and selected elements */
	--rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);

	/* style overrides */
	/* height: 100%; */
	@apply m-4 text-green-800 bg-gray-800 px-3 pb-3;
	margin-right: 0;
}

.rdp-months > .rdp-month > .rdp-table .rdp-button {
	@apply border border-indigo-600 rounded-none hover:border-none font-medium hover:text-green-400 hover:bg-pink-800 hover:font-semibold;
}
